@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #FFCF00;
    --second-color: #EEEFEF;
    --third-color: #565757;
    --fourth-color: #050505;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --yellow-color: #E0B700;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
}

body {
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "footer footer footer";
}

.contenedor .header {
    width: 100%;
    height: var(--header-height);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--second-color);
    z-index: var(--z-fixed);
    transition: .5s;
    grid-area: header;
}

.header_img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
    overflow: hidden
}

.header_img img {
    width: 200px;
}

.contenedor .contenido {
    background-color: var(--white-color);
    grid-area: contenido;
}

.contenedor .footer {
    background-color: var(--third-color);
    grid-area: footer;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.side-bar{
    background: var(--first-color);
    backdrop-filter: blur(15px);
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: -100%;
    overflow-y: auto;
    transition: 0.6s ease;
    transition-property: left;
    grid-area: sidebar;
}

.side-bar.active {
    left: 0;
}

.side-bar .menu{
    width: 100%;
    margin-top: 30%;
}

.side-bar .menu .item{
    position: relative;
    cursor: pointer;
}

.side-bar .menu .item a{
    color: var(--black-color);
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

.side-bar .menu .item a:hover{
    color: var(--second-color);
    background: var(--third-color);
    transition: 0.3s ease;
}

.side-bar .menu .item i{
    margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
    background: var(--yellow-color);
    display: none;
}

.side-bar .menu .item .sub-menu a {
    color: var(--black-color);
    padding-left: 80px;
}

.side-bar .menu .item .sub-menu a:hover {
    color: var(--white-color);
    background: var(--third-color);
    transition: 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
}

.close-btn {
    position: absolute;
    color: var(--black-color);
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}

.menu-btn {
    position: absolute;
    color: var(--black-color);
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}

.height-100 {
    height: 100vh
}

@media screen and (max-width: 768px) {

    .contenedor {
        width: 100%;
        height: auto;
        grid-template-areas: "header header"
                             "contenido contenido"
                             "footer footer";
    }
    .height-100 {
        height: auto;
    }
    .side-bar{
        height: auto;
    }
    .header_img img {
        width: 150px;
    }
    .contenedor .footer {
        display: flex;
        justify-content: center;
        bottom: 0;
    }
}